body{
	margin: 0;
}
.box {
	border: 1px solid blue;
	padding: 1em;
	box-sizing: border-box;
}
.inner {
	border: 1px solid red;
	width: 100%;
	padding: 1em;
	box-sizing: border-box;
}

.wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

@media screen and (max-width: 768px){
	.box{
		width: 100%;
	}
}

@media screen and (min-width: 769px) and (max-width: 1200px){
	.box{
		width: 50%;
	}
}

@media screen and (min-width: 1201px){
	.box{
		width: 25%;
	}
}