body {
	border:1px solid blue;
	font-family: 'Montagu Slab', serif;
	margin: 0;
}

img {
	border: 2px solid orange;
}

div.tile{
	border: 1px solid green;
	padding: 1em;
	box-sizing: border-box;
	border: 2px solid orange;
}

.tile > img {
	width: 100%;
	height: 300px;
	object-fit:  cover;
	opacity: 0.8;
	border: 2px solid green;
}
.tile > img:hover {
	opacity: 1;
}

.tilewrapper {
	border: 10px solid green;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#hero {
	width: 100%;
	border: 1px solid blue;
}


body{
	background-color: rgba(50, 125, 168, 0.5);
}

h1 {
	color : white;
	width: 75%;
}

.nav-links {
	width: 25%;
	display: flex;
	justify-content: space-between;
}

.navbar {
	height: 60px;
	background-color: rgb(0, 0, 0, 0.8);
	display: flex;
	flex-direction: row;
	align-items: center;
	position: sticky;
	top: 0;

}

.nav-links > a {
	color: white;
	text-align: center;
}

.navbar > a:hover{
	color: red;
}



form {
	border: 5px solid white;
	padding: 1em;
	background-color: lightyellow;
}

input {
	margin: 0.5em;
}

@media screen and (max-width: 768px){
	.tile{
		width: 100%;
	}
}

@media screen and (min-width: 769px) and (max-width: 1200px){
	.tile{
		width: 50%;
	}
}

@media screen and (min-width: 1201px){
	.tile{
		width: 25%;
	}
}