body {
	border:1px solid blue;
	font-family: 'Montagu Slab', serif;
	margin: 0;
}

img {
	border: 2px solid orange;
}

div.tile{
	border: 1px solid green;
	width: 300px;
	padding: 1em;
}

.tile > img {
	width: 300px;
	height: 300px;
	object-fit:  cover;
	opacity: 0.2;
}
.tile > img:hover {
	opacity: 1;
}

.tilewrapper {
	border: 10px solid green;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#hero {
	width: 800px;
	border: 1px solid blue;
}


body{
	background-color: rgba(50, 125, 168, 0.3);
}

h1 {
	color : white;
	width: 50%;
}

.nav-links {
	width: 50%;
	display: flex;
	justify-content: space-between;
}

.navbar {
	height: 60px;
	background-color: rgb(0, 0, 0, 0.8);
	display: flex;
	flex-direction: row;
	align-items: center;
	position: sticky;
	top: 0;

}

.nav-links > a {
	color: white;
	text-align: center;
}

.navbar > a:hover{
	color: Red;
}



form {
	border: 5px solid white;
	padding: 1em;
	background-color: white;
}

input {
	margin: 0.5em;
}
